
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/*------------------header like home,about ion------------------------*/
.logo{
    width: 150px;         
    height: 150px;          /*----logo-----*/

}

#header{
    width: 100%;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height:3px;
    background:#0096FF;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}


/*-----------profile photo and hi i'm vignesh-------*/  


/* Keyframes for the fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframes for the slide-in from left effect */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Applying animation to the header text */
.header-text {
    text-align: center;
  
}

/* Animation for h1 */
.header-text h1 {
    animation: fadeIn 2s ease-in-out, slideInLeft 1s ease-in-out;
    opacity: 0; /* Ensure the initial state matches the animation's starting state */
    animation-fill-mode: forwards; /* Keep the end state after animation ends */
}

/* Animation for h1 span */
.header-text h1 span {
    animation: fadeIn 3s ease-in-out 1s; /* Delay of 1s */
    opacity: 0;
    animation-fill-mode: forwards;
}

/* Animation for p */
.header-text p {
    animation: fadeIn 4s ease-in-out 2s; /* Delay of 2s */
    opacity: 0;
    animation-fill-mode: forwards;
}



.header-text{
    margin-top:10%;
    font-size:30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-text p{
    margin-bottom: 100px;
}

.header-text h1 span{
    color: #0096FF;
}

/* --------------------about------------------------------------------------ */


.row{
    margin-top: 10%;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.container span{
    color: #0096FF;
}

#about{
    padding: 80px 0;
    color: #fff;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-2 h1{
    font-size: 30px;
}

.about-col-1 img{
    width:100%;
    border-radius: 15px;
    transition: 0.5s;
}

.about-col-1 img:hover{
    transform: translateY(-10px);
}

.about-col-2{
    flex-basis: 60%;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}


.tab-links{
    margin-right:50px;
    font-size:25px;
    font-weight:bold;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.tab-links:hover{
    transform: translate(-10px);
}



.tab-links::after{
    content: '';
    width: 0;
    height:3px;
    background:#0096FF;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}


.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#0096FF;
    font-size: 14px;
}

.tab-contents{
    display:none;
}
.tab-contents.active-tab{
   display: block;
}

/*--------------------------experience--------------------------------*/

#services {
    padding: 50px 0;
}

.container1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sub-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.services-list-item {
    margin: 20px; /* Creates space around each item */
    padding: 20px;
    background: #454545;
    border: 1px solid#fff;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}

.services-list-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.services-list-item ul {
    list-style: none;
    padding: 0;
}

.services-list-item ul li {
    margin-bottom: 10px;
}

.services-list-item ul li span {
    font-weight: bold;
    color: #fff ;

}


.services-list-item i{
    font-size: 50px;
    margin-bottom: 30px;

} 

.services-list-item:hover{
    transform: translate(-10px);
    background: #0096FF;

}



/*-----------------portfolio---------------------------*/
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin: 20px; /* Creates space around each item */
    padding: 20px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#0096FF);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    text-align: center; /* Ensure text is centered */
    width: 100%;  /* Ensure h3 takes full width */
}



.layer a {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #0f0f0f;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.layer a:hover {
    transform: translate(10px);
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.layer p i {
    font-size: 30px;
    color: #0f0f0f;
}

/* ---------------contact---------*/

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #0096FF;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #0096FF;
    transform: translateY(-5px);
}

.contact-left p a{
    color: #fff;
    text-decoration: none;
    transition: transform 0.5s;
}

.contact-left p a:hover {
    color: #0096FF;
}

.cv {
    display: flex;
    gap: 20px; /* space between buttons */
    margin-top: 30px;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0096FF;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background: #0096FF;
    display: inline-block;
}

.btn:hover {
    background: rgb(71, 71, 232);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background: #454545;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}


/*-----------------MEDIA QURIES---------*/

nav .fa-solid{
    display:none;
   
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    .container, .container1 {
        padding: 10px 5%;
    }

    .sub-title {
        font-size: 40px;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        text-align: center;
    }

    .about-col-1 img {
        margin-bottom: 20px;
        width: 70%; /* Adjust the size for large tablets */
    }

    .tab-links {
        font-size: 20px;
        margin-right: 20px;
    }                                                                                                                                                                                                                                                                                                                                                                                                 

    .tab-titles {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    
    }

    

    nav i {
        transition: 0.5s;
    }

    nav i:hover {
        color: #0096FF;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .header-text {
        margin-top: 20%;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        margin-bottom: 50px;
    }

    .tab-titles {
        flex-direction: row;
        align-items: center;
    }

    .tab-links {
        margin-bottom: 20px;
    }

    .services-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .btn {
        padding: 10px 20px;
    }

    .about-col-1 img {
        width: 60%; /* Adjust the size for tablets */
    }
}

@media only screen and (max-width: 480px) {
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
        transition: 0.5s;
    }

    nav ul li:hover {
        transform: translate(-10px);
    }

    nav i {
        transition: 0.5s;
    }

    nav i:hover {
        color: #0096FF;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul li {
        margin: 10px 5px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .header-text p {
        font-size: 18px;
    }

    .sub-title {
        font-size: 30px;
    }

    .services-list-item h2 {
        font-size: 20px;
    }

    .work-list {
        grid-template-columns: 1fr;
    }

    .about-col-1 img {
        width: 50%; /* Adjust the size for mobile devices */
    }
}
